---
import Layout from '../../layouts/Dragonforgemedia.astro';
---

<Layout title="DragonForgeGaming" description="Information on DragonForgeMedia's DragonForgeGaming Youtube channel" page="/DragonForgeMedia/AG">
		<div class="p-6">
			<div class="flex flex-row">
				<div class="basis-1/2">
					<iframe src="https://discord.com/widget?id=1153106771926323270&theme=dark" width="350" height="160" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
				</div>
				<div class="basis-1/2 text-center">
					<div class="mt-10 px-2 text-center text-2xl">About DragonForgeGaming</div>
					<p>DragonForgeGaming is Dragon Forge Media's First channel started in 2017</p>
				</div>
			</div>
		</div>
		<div class="container mx-auto px-4 pt-12">
			<div class="text-2xl text-center">Channel</div>
			<table class="table-auto border border-slate-500 text-center mx-auto mt-5">
				<thead>
					<tr>
						<th class="border border-slate-600">Channel<span class=" top-0 float-right badge rounded-pill bg-red-950">Subs</span></th>
						<th class="border border-slate-600">Channel disc</th>
						<th class="border border-slate-600">To the Channel</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="border border-slate-600">DragonForgeGaming<span class=" top-0 float-right badge rounded-pill bg-red-950" id="ci=UC9RA0TJNGmiMcyFYkhvKrtg">API Unavailable</span></td>
						<td class="border border-slate-600">Main Channel</td>
						<td class="border border-slate-600"><a class="btn bg-red-800 btn-sm" href="https://www.youtube.com/@altiesgaming">YouTube</a><a class="btn bg-sky-800 btn-sm" href="DragonForgeMedia/AG">Page</a></td>
					</tr>
				</tbody>
			</table>
			<br />
			<div class="container-fluid text-center">
				<h2>Recomended Video</h2>
				<iframe class="w-full aspect-video" src="https://www.youtube-nocookie.com/embed/FZK13YrjThA"></iframe>
			</div>
			<br />
			<div class="container">
			<h2>Videos:</h2>
			<p>We are working on getting a full (live) list of videos made!</p>
			</div>
			<br />
			<script src="../../scripts/sub.js"></script>
		</div>
	</div>
</Layout>