---
import Layout from '../../layouts/Dragonforgemedia.astro';
---

<Layout title="FAQ" description="DragonForgeNexus' frequently asked questions/Q&A" page="/DragonForgeMedia/FAQ">
	<div class="p-6">
		<div class="flex flex-row">
			<div class="basis-1/2">
				<iframe src="https://discord.com/widget?id=1153106771926323270&theme=dark" width="350" height="160" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
			</div>
			<div class="basis-1/2 text-center">
				<h1 class="mt-10 px-2 text-center text-4xl">you can submight questions to Altie on discord.</h1>
			</div>
		</div>
	</div>
	<div class="container mx-auto mt-4">
		<div class="flex flex-row">
			<div class="basis-1/2">
				<p><span class="text-xl">@e23_owner asked:</span><br />What's your favorite game?</p>
				<p><span class="text-xl">Answer:</span><br />This is difficult, but I'd have to say Skyrim</p>
			</div>
			<div class="basis-1/2 text-center">
				<h1 class="text-4xl">we need more questions, come ask some on discord</h1>
			</div>
		</div>
	</div>
</Layout>
