---
import Layout from '../../layouts/Dragonforgemedia.astro';
---

<Layout title="Featured Content" description="AltiesGamingStudios' Featured Content" page="">
	<nav class="navbar navbar-expand-sm bg-dark-subtle navbar-dark">
		<div class="container-fluid">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" href="./">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="./AG">AltiesGaming</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="./AGL">AltiesGamingLive</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						More
					</a>
					<ul class="dropdown-menu">
						<li><a class="dropdown-item active" href="./FEAT">Featured content</a></li>
						<li><a class="dropdown-item" href="./FAQ">FAQ</a></li>
						<li><a class="dropdown-item" href="./Discord">Discord</a></li>
						<li><a class="dropdown-item" href="./Retired">Retired Content</a></li>
					</ul>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/">Hub</a>
				</li>
			</ul>
		</div>
	</nav>

	<div class="container mt-5">
		<div class="row">
			<div class="col-sm-4">
				<h3 class="mt-4">Main Pages</h3>
				<ul class="nav nav-pills flex-column">
					<li class="nav-item">
						<a class="nav-link" href="./">Home</a>
					</li>
					<li class="nav-item">
							<a class="nav-link" href="./AG">AltiesGaming</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="./AGL">AltiesGamingLive</a>
						</li>
				</ul>
				<hr class="d-sm-none">
				<div class="ratio ratio-1x1 clearfix">
					<iframe src="https://discord.com/widget?id=757341031741128802&theme=dark" width="350" height="500" allowtransparency="true" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
				</div>
			</div>
			<div class="col-sm-8">
				<h6>We do not own nor claim to own any games/minecraft servers listed here <br /><br />We are not paid by game creators to play any of these games, unless explicitly disclosed</h6>
				<h5>Suggesting content:</h5>
				<p>you may suggest games, roblox games, and minecraft servers in our discord server, there are limitations on whats excepted. we will not except;</p>
				<ul>
					<li>Any game that contains nudity</li>
					<li>Any game that contains a huge amount of gore (depends on my knowlage of the game aswell)</li>
					<li>Any game that I (Altie) am not confortable playing</li>
				</ul>
				<p>games may be rejected for any reason, these are just some content that will typicly (or always) be rejected.</p>
			</div>
		</div>
	</div>
	<div class="container">
		<h2 class="text-center">Games and minecraft servers Altie has played on any of his channels</h2>
		<h3 class="text-center">Games</h3>
		<p class="text-center">all links are steam, epic games, or website links</p>
		<table class="table table-striped table-bordered">
			<tr>
				<td>Game Name</td>
				<td>Rating (ESRB)</td>
				<td>
					Link (as game name)
				</td>
			</tr>
			<tr>
				<td>Skyrim Special Edition</td>
				<td>
					<img src="../imgs/ESRB_Imgs/m.png" alt="ESRB M" class="float-start">
					<p class="ESRBRating">BLOOD AND GORE, INTENSE VIOLENCE, SEXUAL THEMES, USE OF ALCOHOL, LANGUAGE</p>
				</td>
				<td>
					<a href="https://store.steampowered.com/app/489830/The_Elder_Scrolls_V_Skyrim_Special_Edition/">Skyrim Special Edition</a>
				</td>
			</tr>
			<tr>
				<td>Scrap Mechanic</td>
				<td>
					<h1 class="text-center">N/A</h1>
				</td>
				<td>
					<a href="https://store.steampowered.com/app/387990/Scrap_Mechanic/">Scrap Mechanic</a>
				</td>
			</tr>
			<tr>
				<td>Call of Duty WWII</td>
				<td>
					<img src="../imgs/ESRB_Imgs/m.png" alt="ESRB M" class="float-start">
					<p class="ESRBRating">BLOOD AND GORE, INTENSE VIOLENCE, STRONG LANGUAGE</p>
				</td>
				<td>
					<a href="https://store.steampowered.com/app/476600/Call_of_Duty_WWII/">Call of Duty WWII</a>
				</td>
			</tr>
			<tr>
				<td>Among Us</td>
				<td>
					<img src="../imgs/ESRB_Imgs/e10.png" alt="ESRB e10+" class="float-start">
					<p class="ESRBRating">Fantasy Violence, Mild Blood</p>
				</td>
				<td>
					<a href="https://store.steampowered.com/app/945360/Among_Us/">Among Us</a>
				</td>
			</tr>
			<tr>
				<td>Titanfall® 2</td>
				<td>
					<img src="../imgs/ESRB_Imgs/m.png" alt="ESRB M" class="float-start">
					<p class="ESRBRating">BLOOD AND GORE, LANGUAGE, VIOLENCE</p>
				</td>
				<td>
					<a href="https://store.steampowered.com/app/1237970/Titanfall_2/">Titanfall® 2</a>
				</td>
			</tr>
			<tr>
				<td>Sea of Thieves</td>
				<td>
					<img src="../imgs/ESRB_Imgs/t.png" alt="ESRB T" class="float-start">
					<p class="ESRBRating">VIOLENCE, USE OF ALCOHOL, CRUDE HUMOR</p>
				</td>
				<td>
					<a href="https://store.steampowered.com/app/1172620/Sea_of_Thieves/">Sea of Thieves</a>
				</td>
			</tr>
			<tr>
				<td>Splitgate</td>
				<td>
					<h1 class="text-center">N/A</h1>
				</td>
				<td>
					<a href="https://store.steampowered.com/app/677620/Splitgate/">Splitgate</a>
				</td>
			</tr>
			<tr>
				<td>RAILROADS Online!</td>
				<td>
					<h1 class="text-center">N/A</h1>
				</td>
				<td>
					<a href="https://store.steampowered.com/app/1696810/RAILROADS_Online/">RAILROADS Online!</a>
				</td>
			</tr>
			<tr>
				<td>The Stanley Parable: Ultra Deluxe</td>
				<td>
					<h1 class="text-center">N/A</h1>
				</td>
				<td>
					<a href="https://store.steampowered.com/app/1703340/The_Stanley_Parable_Ultra_Deluxe/">The Stanley Parable: Ultra Deluxe</a>
				</td>
			</tr>
			<tr>
				<td>Roblox</td>
				<td>
					<h1 class="text-center">N/A</h1>
				</td>
				<td>
					<a href="https://www.roblox.com">Roblox</a>
				</td>
			</tr>
			<tr>
				<td>
					<p>Minecraft</p>
					<p>(java and Bedrock)</p>
				</td>
				<td>
					<img src="../imgs/ESRB_Imgs/e10.png" alt="ESRB e10+" class="float-start">
					<p class="ESRBRating">Fantasy Violence</p>
				</td>
				<td>
					<a href="https://www.minecraft.net/">Minecraft</a>
				</td>
			</tr>
			<tr>
				<td>Fortnite</td>
				<td>
					<img src="../imgs/ESRB_Imgs/t.png" alt="ESRB T" class="float-start">
					<p class="ESRBRating">Violence</p>
				</td>
				<td>
					<a href="https://www.epicgames.com/fortnite/">Fortnite</a>
				</td>
			</tr>
		</table>
		<h2 class="text-center">Minecraft Servers</h2>
    <table class="table table-striped table-bordered">
      <tr>
        <td>Server Name</td>
        <td>IP</td>
        <td>Server Website</td>
      </tr>
      <tr>
        <td>BlossomCraft</td>
        <td>Java:<br />play.blossomcraft.org<hr />bedrock:<br />play.blossomcraft.org<br /><br />port: 19132</td>
        <td><a href="https://www.blossomcraft.org">blossomcraft.org</a></td>
      </tr>
			<tr>
        <td>Hypixel</td>
        <td>Java:<br />play.hypixel.net</td>
        <td><a href="https://www.hypixel.net">hypixel.net</a></td>
      </tr>
    </table>
	</div>
	<br />
</Layout>
<style>
	.btn-youtube {
		background-color: #FF0000;
		color: #FFFFFF;
	}
	.btn-twitch {
		background-color: rgb(145, 70, 255);
		color: rgb(0, 0, 0);
	}
	.ESRBRating {
    font-size: 10px;
	}
</style>
