---
import Layout from '../../layouts/DRAGONFORGEMEDIA.astro';
---

<Layout title="Home" description="DragonForgeMedia's main page" page="/DragonForgeMedia">
	<div class="p-6">
		<iframe src="https://discord.com/widget?id=1153106771926323270&theme=dark" height="200" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts" class=" w-[100%]"></iframe>
		<h5 class="text-center text-2xl">About DragonForgeMedia</h5>
		<p class="text-center">We are a small media studio owned by DragonForgeNEXUS.</p>
		<p class="text-center">we mostly make videos, most of which are on gaming and some other stuff.</p>
		<div class="container mx-auto px-10">
			<div class="mt-10 text-center text-2xl">Channels</div>
			<h5 class="text-center">All of these channels are owned by DragonForgeMedia</h5>
			<p class="text-center">For partnered channels (edited/ran by us or FYTS) check the Partners page</p>
			<div class="overflow-x-auto">
				<table class="table table-xs">
					<thead>
						<tr>
							<th>Channel</th> 
							<th>Subs</th> 
							<th>Link</th> 
						</tr>
					</thead> 
					<tbody>
						<tr>
							<td>DragonForgeGaming</td> 
							<td><span id="ci=UC9RA0TJNGmiMcyFYkhvKrtg">API Unavailable</span></td> 
							<td><a class="link link-hover" href="https://www.youtube.com/@DragonForgeG">YouTube</a></td> 
						</tr>
						<tr>
							<td>DragonForgeGaming Twitch</td> 
							<td>N/A</td> 
							<td><a class="link link-hover" href="https://www.twitch.tv/altiesgaming">Twitch</a></td> 
						</tr>
					</tbody> 
					<tfoot>
						<tr>
							<th>Channel</th> 
							<th>Subs</th> 
							<th>Link</th> 
						</tr>
					</tfoot>
				</table>
			</div>
			<div class="text-4xl text-center">Recomended Videos:</div>
			<div>
				<iframe class="w-full aspect-video" src="https://www.youtube-nocookie.com/embed/FZK13YrjThA"></iframe>
			</div>
			<br>
			<script src="../../scripts/sub.js"></script>
		</div>
	</div>
</Layout>