---
import Layout from '../../layouts/dragonforgenetwork.astro';
import Footer from '../../components/Footer.astro';
import Header from '../../components/DragonForgeMedia/Header.astro';
---

<Layout title="Home" description="Moonrise network Home">
	<Header 
		subtitle="Home"
	/>
	
	<nav class="navbar navbar-expand-sm bg-dark-subtle navbar-dark">
		<div class="container-fluid">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link active" href="./">Home</a>
				</li>
				<!--<li class="nav-item">
					<a class="nav-link disabled" href="./FYTS">FYTS</a>
				</li>
				<li class="nav-item">
					<a class="nav-link disabled" href="./AGL">Sponserships</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						More
					</a>
					<ul class="dropdown-menu">
						<li><a class="dropdown-item" href="./FEAT">Featured content</a></li>
						<li><a class="dropdown-item" href="./FAQ">FAQ</a></li>
						<li><a class="dropdown-item" href="./Discord">Discord</a></li>
						<li><a class="dropdown-item" href="./Retired">Retired Content</a></li>
					</ul>
				</li> -->
				<li class="nav-item">
					<a class="nav-link" href="/">Hub</a>
				</li>
			</ul>
		</div>
	</nav>
	<div class="container">
		<h1>Moonrise Network is getting ready for closed playtesting, please use the below form if you want to sign up.</h1>
		<iframe src="https://docs.google.com/forms/d/e/1FAIpQLScgg3Q6665NajuOrj6yXiMUrIHqYlZtPcVGwDgSWZwc3An3DA/viewform?embedded=true" width="100%" height="1000" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
	</div>
	<br>
	<Footer />
</Layout>
<script>
	setTimeout(function() {
		window.location.replace("/");
	}, 1);
</script>