---
import Layout from '../../layouts/DRAGONFORGEGAMING.astro';
---

<Layout title="Home" description="DragonForgeMedia's main page" page="/DragonForgeMedia">
	<div class="p-6">
		DragonForgeGaming 
		
	</div>
</Layout>
<script>
	setTimeout(function() {
		window.location.replace("/");
	}, 0);
</script>